git+https://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI&egg=pycocotools
git+https://github.com/cocodataset/panopticapi.git#egg=panopticapi

python==3.9
torch==1.12.1

ultralytics
cython==0.29.36
git+https://github.com/jwwangchn/cocoapi-aitod.git#subdirectory=aitodpycocotools



